AWS_ACCOUNT_ID=000000000000
AWS_REGION=ap-northeast-2
BACKEND_IMAGE=000000000000.dkr.ecr.ap-northeast-2.amazonaws.com/study-note-backend:latest
FRONTEND_IMAGE=000000000000.dkr.ecr.ap-northeast-2.amazonaws.com/study-note-frontend:latest
PUBLIC_ENDPOINT=http://EC2_PUBLIC_IP
